{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourcegroups/scenarioTestTempGroup3241?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "tags": {},
        "location": "westus"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241",
        "name": "scenarioTestTempGroup3241",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus",
        "tags": {},
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.Resources/deployments/Generate_Unique_Name?api-version=2021-04-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "properties": {
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "variables": {
              "name": {
                "value": "[concat(\u0027sw\u0027,uniqueString(resourceGroup().id))]",
                "metadata": {
                  "description": "Name of the SignalR service."
                },
                "type": "string"
              }
            },
            "resources": [],
            "outputs": {
              "name": {
                "type": "string",
                "value": "[variables(\u0027name\u0027).value]"
              },
              "resourceName": {
                "type": "string",
                "value": "[variables(\u0027name\u0027).value]"
              }
            }
          },
          "mode": "Complete"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourcegroups/scenarioTestTempGroup3241/providers/Microsoft.Resources/deployments/Generate_Unique_Name/operationStatuses/08585498967421557616?api-version=2021-04-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.Resources/deployments/Generate_Unique_Name",
        "name": "Generate_Unique_Name",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "17360058046433769106",
          "mode": "Complete",
          "provisioningState": "Accepted",
          "timestamp": "2022-05-05T00:22:24.9522381Z",
          "duration": "PT0.0007304S",
          "correlationId": "62fb90fe-2b2e-4bb2-85be-76f3c6c45d5c",
          "providers": [],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourcegroups/scenarioTestTempGroup3241/providers/Microsoft.Resources/deployments/Generate_Unique_Name/operationStatuses/08585498967421557616?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11998"
      },
      "ResponseBody": {
        "status": "Running"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.Resources/deployments/Generate_Unique_Name?api-version=2021-04-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11996"
      },
      "ResponseBody": {
        "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.Resources/deployments/Generate_Unique_Name",
        "name": "Generate_Unique_Name",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "17360058046433769106",
          "mode": "Complete",
          "provisioningState": "Succeeded",
          "timestamp": "2022-05-05T00:22:26.3675845Z",
          "duration": "PT1.4160768S",
          "correlationId": "62fb90fe-2b2e-4bb2-85be-76f3c6c45d5c",
          "providers": [],
          "dependencies": [],
          "outputs": {
            "name": {
              "type": "String",
              "value": "swhxhri2wdlwjj4"
            },
            "resourceName": {
              "type": "String",
              "value": "swhxhri2wdlwjj4"
            }
          },
          "outputResources": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/providers/Microsoft.SignalRService/locations/westus/checkNameAvailability?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "type": "Microsoft.SignalRService/SignalR",
        "name": "my-signalr-service"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "4904de99-9443-431a-96a6-4c06b0d84b64"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "reason": "AlreadyExists",
        "message": "The name is already taken. Please try a different name."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/signalR/signalrswaggertest4?api-version=2020-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "capacity": 1
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned"
        },
        "tags": {
          "key1": "value1"
        },
        "location": "westus",
        "properties": {
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless"
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True"
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False"
            }
          ],
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ]
            },
            "privateEndpoints": [
              {
                "name": "signalrswaggertest4.1fa229cd-bf3f-47f0-8c49-afb36723997e",
                "allow": [
                  "ServerConnection"
                ]
              }
            ]
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationStatuses/1f569997-022c-4c70-a1a1-63f6b0bc186a?api-version=2020-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationResults/1f569997-022c-4c70-a1a1-63f6b0bc186a?api-version=2020-07-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "4904de99-9443-431a-96a6-4c06b0d84b64"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "signalrswaggertest4.service.signalr.net",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "signalrswaggertest4",
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            }
          ],
          "cors": {
            "allowedOrigins": [
              "*"
            ]
          },
          "upstream": {
            "templates": null
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ],
              "deny": null
            },
            "privateEndpoints": []
          }
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "11e3f69b-c658-44f4-9bec-82466f20ab12",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "location": "westus",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4",
        "name": "signalrswaggertest4",
        "type": "Microsoft.SignalRService/SignalR"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationStatuses/1f569997-022c-4c70-a1a1-63f6b0bc186a?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995",
        "x-rp-server-mvid": "4904de99-9443-431a-96a6-4c06b0d84b64"
      },
      "ResponseBody": {
        "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationStatuses/1f569997-022c-4c70-a1a1-63f6b0bc186a",
        "name": "1f569997-022c-4c70-a1a1-63f6b0bc186a",
        "status": "Running",
        "startTime": "2022-05-05T00:22:37.1530155Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationStatuses/1f569997-022c-4c70-a1a1-63f6b0bc186a?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11987",
        "x-rp-server-mvid": "4904de99-9443-431a-96a6-4c06b0d84b64"
      },
      "ResponseBody": {
        "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationStatuses/1f569997-022c-4c70-a1a1-63f6b0bc186a",
        "name": "1f569997-022c-4c70-a1a1-63f6b0bc186a",
        "status": "Succeeded",
        "startTime": "2022-05-05T00:22:37.1530155Z",
        "endTime": "2022-05-05T00:23:47.0963217Z"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/signalR/signalrswaggertest4/listKeys?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-rp-server-mvid": "4904de99-9443-431a-96a6-4c06b0d84b64"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/signalR/signalrswaggertest4/regenerateKey?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "keyType": "Primary"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationStatuses/124fb9ca-860d-4a00-a14f-74c23fe4526e?api-version=2020-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationResults/124fb9ca-860d-4a00-a14f-74c23fe4526e?api-version=2020-07-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "4904de99-9443-431a-96a6-4c06b0d84b64"
      },
      "ResponseBody": {
        "primaryKey": "Sanitized",
        "secondaryKey": "Sanitized",
        "primaryConnectionString": "Sanitized",
        "secondaryConnectionString": "Sanitized"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/signalR/signalrswaggertest4/restart?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationStatuses/9abe76b9-cd3e-4606-9313-ddbc21334005?api-version=2020-07-01-preview",
        "Location": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/SignalR/signalrswaggertest4/operationResults/9abe76b9-cd3e-4606-9313-ddbc21334005?api-version=2020-07-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-rp-server-mvid": "4904de99-9443-431a-96a6-4c06b0d84b64"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/providers/Microsoft.SignalRService/locations/westus/usages?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11997",
        "x-rp-server-mvid": "4904de99-9443-431a-96a6-4c06b0d84b64"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/providers/Microsoft.SignalRService/locations/westus/usages/FreeTierInstances",
            "currentValue": 0,
            "limit": 5,
            "name": {
              "value": "FreeTierInstances",
              "localizedValue": "Free Tier SignalR Instances per subscription"
            },
            "unit": "Count"
          },
          {
            "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/providers/Microsoft.SignalRService/locations/westus/usages/SignalRTotalUnits",
            "currentValue": 1,
            "limit": 150,
            "name": {
              "value": "SignalRTotalUnits",
              "localizedValue": "SignalRTotalUnits"
            },
            "unit": "Count"
          },
          {
            "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/providers/Microsoft.SignalRService/locations/westus/usages/WebPubSubFreeTierInstances",
            "currentValue": 0,
            "limit": 5,
            "name": {
              "value": "WebPubSubFreeTierInstances",
              "localizedValue": "WebPubSubFreeTierInstances"
            },
            "unit": "Count"
          },
          {
            "id": "/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/providers/Microsoft.SignalRService/locations/westus/usages/WebPubSubTotalUnits",
            "currentValue": 0,
            "limit": 150,
            "name": {
              "value": "WebPubSubTotalUnits",
              "localizedValue": "WebPubSubTotalUnits"
            },
            "unit": "Count"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/signalR?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-su[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/providers/Microsoft.SignalRService/signalR?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11995",
        "x-rp[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/7fd08dcc-a653-4b0f-8f8c-4dac889fdda4/resourceGroups/scenarioTestTempGroup3241/providers/Microsoft.SignalRService/signalR/signalrswaggertest4?api-version=2020-07-01-preview",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 204,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-deletes": "14999",
        "x-rp-server-mvid": "4904de99-9443-431a-96a6-4c06b0d84b64"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {
    "RandomSeed": "1507081208",
    "RESOURCE_MANAGER_URL": null,
    "SUBSCRIPTION_ID": "7fd08dcc-a653-4b0f-8f8c-4dac889fdda4"
  }
}
