{
  "Entries": [
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourcegroups/apiTest-4a38pp?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "8525f6ae-3e18-4894-aa0c-25a62e74aab4"
      },
      "RequestBody": {
        "location": "westus2"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199"
      },
      "ResponseBody": {
        "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp",
        "name": "apiTest-4a38pp",
        "type": "Microsoft.Resources/resourceGroups",
        "location": "westus2",
        "properties": {
          "provisioningState": "Succeeded"
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourcegroups/apiTest-4a38pp/providers/Microsoft.Resources/deployments/Generate_Unique_Name?api-version=2020-06-01",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "835596e3-a3f0-4343-9492-44d51391e77c"
      },
      "RequestBody": {
        "properties": {
          "mode": "Incremental",
          "template": {
            "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
            "contentVersion": "1.0.0.0",
            "variables": {
              "name": {
                "value": "[concat(\u0027sw\u0027,uniqueString(resourceGroup().id))]",
                "metadata": {
                  "description": "Name of the SignalR service."
                },
                "type": "string"
              }
            },
            "resources": [],
            "outputs": {
              "name": {
                "type": "string",
                "value": "[variables(\u0027name\u0027).value]"
              },
              "resourceName": {
                "type": "string",
                "value": "[variables(\u0027name\u0027).value]"
              }
            }
          }
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourcegroups/apiTest-4a38pp/providers/Microsoft.Resources/deployments/Generate_Unique_Name/operationStatuses/08585496969668173470?api-version=2020-06-01",
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198"
      },
      "ResponseBody": {
        "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.Resources/deployments/Generate_Unique_Name",
        "name": "Generate_Unique_Name",
        "type": "Microsoft.Resources/deployments",
        "properties": {
          "templateHash": "17360058046433769106",
          "mode": "Incremental",
          "provisioningState": "Accepted",
          "timestamp": "2022-05-07T07:52:00.1781214Z",
          "duration": "PT0.0001213S",
          "correlationId": "eee24f5d-7811-4994-b333-f131da08389d",
          "providers": [],
          "dependencies": []
        }
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourcegroups/apiTest-4a38pp/providers/Microsoft.Resources/deployments/Generate_Unique_Name/operationStatuses/08585496969668173470?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "8ce7ce8b-07da-44bc-a206-0032ccf7a97e"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11999"
      },
      "ResponseBody": {
        "status": "Accepted"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.SignalRService/locations/westus2/checkNameAvailability?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "dac4568f-c0ff-465a-8eed-2e962be2a292"
      },
      "RequestBody": {
        "type": "Microsoft.SignalRService/SignalR",
        "name": "my-signalr-service"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1199",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "nameAvailable": false,
        "reason": "AlreadyExists",
        "message": "The name is already taken. Please try a different name."
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/signalR/swr7sknv7xbuhz2?api-version=2020-07-01-preview",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "5758aef4-a92e-440d-a412-73a952fb3202"
      },
      "RequestBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "capacity": 1
        },
        "properties": {
          "tls": {
            "clientCertEnabled": false
          },
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            }
          ],
          "cors": {
            "allowedOrigins": [
              "https://foo.com",
              "https://bar.com"
            ]
          },
          "upstream": {
            "templates": [
              {
                "hubPattern": "*",
                "eventPattern": "connect,disconnect",
                "categoryPattern": "*",
                "urlTemplate": "https://example.com/chat/api/connect",
                "auth": {
                  "type": "ManagedIdentity",
                  "managedIdentity": {
                    "resource": "api://example"
                  }
                }
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ],
              "deny": null
            },
            "privateEndpoints": [
              {
                "name": "swr7sknv7xbuhz2.1fa229cd-bf3f-47f0-8c49-afb36723997e",
                "allow": [
                  "ServerConnection"
                ],
                "deny": null
              }
            ]
          }
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned"
        },
        "location": "westus2",
        "tags": {
          "key1": "value1"
        }
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationStatuses/0839dfce-3d02-472f-9647-3145450254f2?api-version=2020-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationResults/0839dfce-3d02-472f-9647-3145450254f2?api-version=2020-07-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "sku": {
          "name": "Standard_S1",
          "tier": "Standard",
          "size": "S1",
          "capacity": 1
        },
        "properties": {
          "provisioningState": "Creating",
          "externalIP": null,
          "hostName": "swr7sknv7xbuhz2.service.signalr.net",
          "publicPort": 443,
          "serverPort": 443,
          "version": "1.0-preview",
          "privateEndpointConnections": [],
          "tls": {
            "clientCertEnabled": false
          },
          "hostNamePrefix": "swr7sknv7xbuhz2",
          "features": [
            {
              "flag": "ServiceMode",
              "value": "Serverless",
              "properties": {}
            },
            {
              "flag": "EnableConnectivityLogs",
              "value": "True",
              "properties": {}
            },
            {
              "flag": "EnableMessagingLogs",
              "value": "False",
              "properties": {}
            }
          ],
          "cors": {
            "allowedOrigins": [
              "https://foo.com",
              "https://bar.com"
            ]
          },
          "upstream": {
            "templates": [
              {
                "hubPattern": "*",
                "eventPattern": "connect,disconnect",
                "categoryPattern": "*",
                "urlTemplate": "https://example.com/chat/api/connect",
                "auth": {
                  "type": "ManagedIdentity",
                  "managedIdentity": {
                    "resource": "api://example"
                  }
                }
              }
            ]
          },
          "networkACLs": {
            "defaultAction": "Deny",
            "publicNetwork": {
              "allow": [
                "ClientConnection"
              ],
              "deny": null
            },
            "privateEndpoints": []
          }
        },
        "kind": "SignalR",
        "identity": {
          "type": "SystemAssigned",
          "principalId": "b7178a11-9ba9-41e2-916f-98fc991618e1",
          "tenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47"
        },
        "location": "westus2",
        "tags": {
          "key1": "value1"
        },
        "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2",
        "name": "swr7sknv7xbuhz2",
        "type": "Microsoft.SignalRService/SignalR"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationResults/0839dfce-3d02-472f-9647-3145450254f2?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "2bb10775-3a77-42d2-bde0-30ac593c4d7e"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationStatuses/0839dfce-3d02-472f-9647-3145450254f2?api-version=2020-07-01-preview",
        "Location": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationResults/0839dfce-3d02-472f-9647-3145450254f2?api-version=2020-07-01-preview",
        "x-ms-ratelimit-remaining-subscription-reads": "11996",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/signalR/swr7sknv7xbuhz2/listKeys?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "480e5db3-a014-4197-afdd-704e2b416fa6"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-writes": "1198",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "primaryKey": "rdCnn/NzQocm3mq4S4NKXn26J8jlkGQ/CAe9Nqvbfpg=",
        "secondaryKey": "9PvT/2I\u002BvboGdnS\u002Bd3W6BFNrdCQZjNu7hQROtAEdD9M=",
        "primaryConnectionString": "Endpoint=https://swr7sknv7xbuhz2.service.signalr.net;AccessKey=rdCnn/NzQocm3mq4S4NKXn26J8jlkGQ/CAe9Nqvbfpg=;Version=1.0;",
        "secondaryConnectionString": "Endpoint=https://swr7sknv7xbuhz2.service.signalr.net;AccessKey=9PvT/2I\u002BvboGdnS\u002Bd3W6BFNrdCQZjNu7hQROtAEdD9M=;Version=1.0;"
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/signalR/swr7sknv7xbuhz2/regenerateKey?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "058127ff-181c-45eb-a9d5-00c8ee9e43d8"
      },
      "RequestBody": {
        "keyType": "Primary"
      },
      "StatusCode": 201,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationStatuses/04b0491f-7f39-4677-8c5a-2483812a53fe?api-version=2020-07-01-preview",
        "Content-Type": "application/json; charset=utf-8",
        "Location": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationResults/04b0491f-7f39-4677-8c5a-2483812a53fe?api-version=2020-07-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1197",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "primaryKey": "fTr8YywxYpcZdsMB0MtGGpykw21q80G05J7OaQqU/2o=",
        "secondaryKey": "9PvT/2I\u002BvboGdnS\u002Bd3W6BFNrdCQZjNu7hQROtAEdD9M=",
        "primaryConnectionString": "Endpoint=https://swr7sknv7xbuhz2.service.signalr.net;AccessKey=fTr8YywxYpcZdsMB0MtGGpykw21q80G05J7OaQqU/2o=;Version=1.0;",
        "secondaryConnectionString": "Endpoint=https://swr7sknv7xbuhz2.service.signalr.net;AccessKey=9PvT/2I\u002BvboGdnS\u002Bd3W6BFNrdCQZjNu7hQROtAEdD9M=;Version=1.0;"
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/signalR/swr7sknv7xbuhz2/restart?api-version=2020-07-01-preview",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "e708ce1e-8eb0-4db5-a116-858fdcce8115"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Azure-AsyncOperation": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationStatuses/89df0261-a31c-48cc-a114-e82ffc04c7ac?api-version=2020-07-01-preview",
        "Location": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationResults/89df0261-a31c-48cc-a114-e82ffc04c7ac?api-version=2020-07-01-preview",
        "x-ms-ratelimit-remaining-subscription-writes": "1196",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": null
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.SignalRService/locations/westus2/usages?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "948d0d69-f19c-4877-a78d-eac1702c84c8"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-ratelimit-remaining-subscription-reads": "11956",
        "x-rp-server-mvid": "e58ba2c2-e450-4347-b66c-f3ad6f1de555"
      },
      "ResponseBody": {
        "value": [
          {
            "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.SignalRService/locations/westus2/usages/FreeTierInstances",
            "currentValue": 0,
            "limit": 5,
            "name": {
              "value": "FreeTierInstances",
              "localizedValue": "Free Tier SignalR Instances per subscription"
            },
            "unit": "Count"
          },
          {
            "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.SignalRService/locations/westus2/usages/SignalRTotalUnits",
            "currentValue": 1,
            "limit": 150,
            "name": {
              "value": "SignalRTotalUnits",
              "localizedValue": "SignalRTotalUnits"
            },
            "unit": "Count"
          },
          {
            "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.SignalRService/locations/westus2/usages/WebPubSubFreeTierInstances",
            "currentValue": 0,
            "limit": 5,
            "name": {
              "value": "WebPubSubFreeTierInstances",
              "localizedValue": "WebPubSubFreeTierInstances"
            },
            "unit": "Count"
          },
          {
            "id": "/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.SignalRService/locations/westus2/usages/WebPubSubTotalUnits",
            "currentValue": 0,
            "limit": 150,
            "name": {
              "value": "WebPubSubTotalUnits",
              "localizedValue": "WebPubSubTotalUnits"
            },
            "unit": "Count"
          }
        ]
      }
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/signalR?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "5e6482e4-41cf-4e74-b1ab-e7c031fd36c3"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders":[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/providers/Microsoft.SignalRService/signalR?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "2abb9b97-46a1-4a8f-ad37-55845ee405a6"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "ap[...]
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourceGroups/apiTest-4a38pp/providers/Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2/operationResults/89df0261-a31c-48cc-a114-e82ffc04c7ac?api-version=2020-07-01-preview",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "b9f30004-97f9-4c73-b4a6-880f5c15fd8b"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "x-ms-failure-cause": "gateway"
      },
      "ResponseBody": {
        "error": {
          "code": "ResourceNotFound",
          "message": "The Resource \u0027Microsoft.SignalRService/SignalR/swr7sknv7xbuhz2\u0027 under resource group \u0027apiTest-4a38pp\u0027 was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
        }
      }
    },
[...]
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/resourcegroups/apiTest-4a38pp?api-version=2020-06-01",
      "RequestMethod": "DELETE",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json",
        "Postman-Token": "28139689-26d4-4c9a-b290-b88d5b45bbf3"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUElURVNUOjJENEEzOFBQLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2020-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-deletes": "14998"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUElURVNUOjJENEEzOFBQLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "52c80f5c-310e-43e9-827f-215d5d26b030"
      },
      "RequestBody": null,
      "StatusCode": 202,
      "ResponseHeaders": {
        "Location": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUElURVNUOjJENEEzOFBQLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2020-06-01",
        "Retry-After": "15",
        "x-ms-ratelimit-remaining-subscription-reads": "11951"
      },
      "ResponseBody": null
    },
    {
      "RequestUri": "https://management.azure.com/subscriptions/db5eb68e-73e2-4fa8-b18a-46cd1be4cce5/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1BUElURVNUOjJENEEzOFBQLVdFU1RVUzIiLCJqb2JMb2NhdGlvbiI6Indlc3R1czIifQ?api-version=2020-06-01",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Postman-Token": "05a2489d-513d-4776-acf9-d1af58a812f7"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": "11950"
      },
      "ResponseBody": null
    }
  ],
  "Variables": {}
}
